In [32]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

In [33]:
df = pd.read_csv("transactions.csv")

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 786363 entries, 0 to 786362
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   accountNumber             786363 non-null  int64
 1   customerId                786363 non-null  int64
 2   creditLimit               786363 non-null  int64
 3   availableMoney            786363 non-null  float64
 4   transactionDateTime       786363 non-null  object
 5   transactionAmount         786363 non-null  float64
 6   merchantName              786363 non-null  object
 7   acqCountry                781801 non-null  object
 8   merchantCountryCode       785639 non-null  object
 9   posEntryMode              782309 non-null  float64
 10  posConditionCode          785954 non-null  float64
 11  merchantCategoryCode      786363 non-null  object
 12  currentExpDate            786363 non-null  object
 13  accountOpenDate           786363 non-null  object
 14  dateOfLastAddressChange   786363 non-null  object
 15  cardCVV                   786363 non-null  int64
 16  enteredCVV                786363 non-null  int64
 17  cardLast4Digits           786363 non-null  int64
 18  transactionType           785665 non-null  object
 19  echoBuffer                0 non-null       float64
 20  currentBalance            786363 non-null  float64
 21  merchantCity              0 non-null       float64
 22  merchantState             0 non-null       float64
 23  merchantZip               0 non-null       float64
 24  cardPresent               786363 non-null  bool
 25  posOnPremises             0 non-null       float64
 26  recurringAuthInd          0 non-null       float64
 27  expirationDateKeyInMatch  786363 non-null  bool
 28  isFraud                   786363 non-null  bool
dtypes: bool(3), float64(11), int64(6), object(9)
memory usage: 158.2+ MB

# 1. Data Cleaning

### 1.1 accountNumber & customerId

In [35]:
df[df['accountNumber'] != df['customerId']]

Empty DataFrame
Columns: [accountNumber, customerId, creditLimit, availableMoney, transactionDateTime, transactionAmount, merchantName, acqCountry, merchantCountryCode, posEntryMode, posConditionCode, merchantCategoryCode, currentExpDate, accountOpenDate, dateOfLastAddressChange, cardCVV, enteredCVV, cardLast4Digits, transactionType, echoBuffer, currentBalance, merchantCity, merchantState, merchantZip, cardPresent, posOnPremises, recurringAuthInd, expirationDateKeyInMatch, isFraud]
Index: []

[0 rows x 29 columns]

accountNumber and customerId have same data so we can drop one of the columns

### 1.2 creditLimit

In [36]:
df['creditLimit'].value_counts()

creditLimit
5000     201863
15000    139307
7500      97913
2500      75429
20000     68629
10000     56889
50000     48781
1000      36430
250       34025
500       27097
Name: count, dtype: int64

In [37]:
df['creditLimit'].isna().sum()

0

### 1.3 availableMoney

In [38]:
df['availableMoney'].value_counts()

availableMoney
250.00      6015
5000.00     5400
15000.00    4254
7500.00     4069
500.00      2811
            ...
3341.20        1
3540.91        1
3541.73        1
3731.29        1
48666.83       1
Name: count, Length: 521693, dtype: int64

In [39]:
df[df['availableMoney'] < 0]       # check negative balance

,accountNumber,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,...,echoBuffer,currentBalance,merchantCity,merchantState,merchantZip,cardPresent,posOnPremises,recurringAuthInd,expirationDateKeyInMatch,isFraud
1806,863358589,863358589,2500,-36.02,2016-04-12T19:45:47,136.03,Shake Shack #662166,US,US,5.0,...,NaN,2536.02,NaN,NaN,NaN,True,NaN,NaN,False,False
2540,222396921,222396921,250,-30.48,2016-06-23T09:40:44,147.10,Dairy Queen #459261,US,US,2.0,...,NaN,280.48,NaN,NaN,NaN,True,NaN,NaN,False,False
3151,749990456,749990456,500,-27.28,2016-10-12T06:35:13,521.31,Washington News,US,US,5.0,...,NaN,527.28,NaN,NaN,NaN,False,NaN,NaN,False,False
3721,715152804,715152804,250,-95.46,2016-04-09T07:42:05,353.44,Boston Cafe #592935,US,US,2.0,...,NaN,345.46,NaN,NaN,NaN,True,NaN,NaN,False,False
3722,715152804,715152804,250,-327.23,2016-04-12T15:00:27,18.47,South BBQ,US,US,2.0,...,NaN,577.23,NaN,NaN,NaN,True,NaN,NaN,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
783398,772199703,772199703,500,-60.71,2016-01-17T22:38:34,29.89,Mobile eCards,US,US,2.0,...,NaN,560.71,NaN,NaN,NaN,False,NaN,NaN,False,False
783460,772199703,772199703,500,-35.04,2016-07-06T17:02:32,82.26,sears.com,US,US,5.0,...,NaN,535.04,NaN,NaN,NaN,False,NaN,NaN,False,False
785872,428856030,428856030,250,-6.65,2016-07-02T22:30:23,57.22,Renaissance Hotel #450302,US,US,5.0,...,NaN,256.65,NaN,NaN,NaN,True,NaN,NaN,False,False
785892,428856030,428856030,250,-93.06,2016-09-01T18:57:43,174.40,Rodeway Inn #88756,US,US,5.0,...,NaN,343.06,NaN,NaN,NaN,False,NaN,NaN,False,False
785909,428856030,428856030,250,-126.90,2016-10-06T19:59:53,129.34,Renaissance Hotel #876491,US,US,2.0,...,NaN,376.90,NaN,NaN,NaN,True,NaN,NaN,False,False

In [40]:
df['availableMoney'].isna().sum()

0

In [41]:
df[df['availableMoney'] > df['creditLimit']] # to check if there is any incorrect data as availableMoney should always be less than creditlimit

Empty DataFrame
Columns: [accountNumber, customerId, creditLimit, availableMoney, transactionDateTime, transactionAmount, merchantName, acqCountry, merchantCountryCode, posEntryMode, posConditionCode, merchantCategoryCode, currentExpDate, accountOpenDate, dateOfLastAddressChange, cardCVV, enteredCVV, cardLast4Digits, transactionType, echoBuffer, currentBalance, merchantCity, merchantState, merchantZip, cardPresent, posOnPremises, recurringAuthInd, expirationDateKeyInMatch, isFraud]
Index: []

[0 rows x 29 columns]

### 1.4 transactionDateTime

In [42]:
df["transactionDateTime"] = pd.to_datetime(df["transactionDateTime"], yearfirst=True)

In [43]:
df["transactionDateTime"].isna().sum()

0

In [44]:
sorted(df["transactionDateTime"],reverse=True)

[Timestamp('2016-12-30 23:59:45'),
 Timestamp('2016-12-30 23:59:35'),
 Timestamp('2016-12-30 23:59:33'),
 Timestamp('2016-12-30 23:58:25'),
 Timestamp('2016-12-30 23:57:33'),
 Timestamp('2016-12-30 23:57:19'),
 Timestamp('2016-12-30 23:54:35'),
 Timestamp('2016-12-30 23:52:49'),
 Timestamp('2016-12-30 23:52:27'),
 Timestamp('2016-12-30 23:51:49'),
 Timestamp('2016-12-30 23:51:35'),
 Timestamp('2016-12-30 23:51:21'),
 Timestamp('2016-12-30 23:50:14'),
 Timestamp('2016-12-30 23:49:44'),
 Timestamp('2016-12-30 23:48:05'),
 Timestamp('2016-12-30 23:47:58'),
 Timestamp('2016-12-30 23:47:38'),
 Timestamp('2016-12-30 23:46:42'),
 Timestamp('2016-12-30 23:46:41'),
 Timestamp('2016-12-30 23:46:33'),
 Timestamp('2016-12-30 23:46:21'),
 Timestamp('2016-12-30 23:45:48'),
 Timestamp('2016-12-30 23:45:17'),
 Timestamp('2016-12-30 23:45:08'),
 Timestamp('2016-12-30 23:43:26'),
 Timestamp('2016-12-30 23:43:04'),
 Timestamp('2016-12-30 23:42:48'),
 Timestamp('2016-12-30 23:42:07'),
 Timestamp('2016-12-30 23:41:36'),
 Timestamp('2016-12-30 23:40:54'),
 Timestamp('2016-12-30 23:39:58'),
 Timestamp('2016-12-30 23:39:31'),
 Timestamp('2016-12-30 23:39:18'),
 Timestamp('2016-12-30 23:39:01'),
 Timestamp('2016-12-30 23:38:35'),
 Timestamp('2016-12-30 23:38:34'),
 Timestamp('2016-12-30 23:38:05'),
 Timestamp('2016-12-30 23:37:54'),
 Timestamp('2016-12-30 23:37:16'),
 Timestamp('2016-12-30 23:36:00'),
 Timestamp('2016-12-30 23:35:59'),
 Timestamp('2016-12-30 23:35:05'),
 Timestamp('2016-12-30 23:33:55'),
 Timestamp('2016-12-30 23:33:26'),
 Timestamp('2016-12-30 23:32:32'),
 Timestamp('2016-12-30 23:30:30'),
 Timestamp('2016-12-30 23:29:00'),
 Timestamp('2016-12-30 23:28:32'),
 Timestamp('2016-12-30 23:27:37'),
 Timestamp('2016-12-30 23:27:32'),
 Timestamp('2016-12-30 23:25:55'),
 Timestamp('2016-12-30 23:25:21'),
 Timestamp('2016-12-30 23:25:18'),
 Timestamp('2016-12-30 23:25:11'),
 Timestamp('2016-12-30 23:23:14'),
 Timestamp('2016-12-30 23:23:03'),
 Timestamp('2016-12-30 23:21:57'),
 Timestamp('2016-12-30 23:21:32'),
 Timestamp('2016-12-30 23:21:31'),
 Timestamp('2016-12-30 23:21:28'),
 Timestamp('2016-12-30 23:21:16'),
 Timestamp('2016-12-30 23:20:45'),
 Timestamp('2016-12-30 23:20:41'),
 Timestamp('2016-12-30 23:20:28'),
 Timestamp('2016-12-30 23:19:47'),
 Timestamp('2016-12-30 23:19:33'),
 Timestamp('2016-12-30 23:18:39'),
 Timestamp('2016-12-30 23:17:53'),
 Timestamp('2016-12-30 23:17:12'),
 Timestamp('2016-12-30 23:16:52'),
 Timestamp('2016-12-30 23:16:07'),
 Timestamp('2016-12-30 23:16:05'),
 Timestamp('2016-12-30 23:15:49'),
 Timestamp('2016-12-30 23:15:12'),
 Timestamp('2016-12-30 23:15:04'),
 Timestamp('2016-12-30 23:15:00'),
 Timestamp('2016-12-30 23:14:38'),
 Timestamp('2016-12-30 23:14:38'),
 Timestamp('2016-12-30 23:13:35'),
 Timestamp('2016-12-30 23:13:00'),
 Timestamp('2016-12-30 23:12:44'),
 Timestamp('2016-12-30 23:12:40'),
 Timestamp('2016-12-30 23:12:21'),
 Timestamp('2016-12-30 23:11:36'),
 Timestamp('2016-12-30 23:11:14'),
 Timestamp('2016-12-30 23:10:24'),
 Timestamp('2016-12-30 23:09:33'),
 Timestamp('2016-12-30 23:08:49'),
 Timestamp('2016-12-30 23:07:21'),
 Timestamp('2016-12-30 23:06:59'),
 Timestamp('2016-12-30 23:06:03'),
 Timestamp('2016-12-30 23:05:42'),
 Timestamp('2016-12-30 23:05:31'),
 Timestamp('2016-12-30 23:05:03'),
 Timestamp('2016-12-30 23:03:36'),
 Timestamp('2016-12-30 23:03:03'),
 Timestamp('2016-12-30 23:03:00'),
 Timestamp('2016-12-30 23:02:28'),
 Timestamp('2016-12-30 23:01:16'),
 Timestamp('2016-12-30 22:59:20'),
 Timestamp('2016-12-30 22:59:15'),
 Timestamp('2016-12-30 22:58:25'),
 Timestamp('2016-12-30 22:57:26'),
 Timestamp('2016-12-30 22:56:37'),
 Timestamp('2016-12-30 22:56:06'),
 Timestamp('2016-12-30 22:55:39'),
 Timestamp('2016-12-30 22:55:12'),
 Timestamp('2016-12-30 22:55:07'),
 Timestamp('2016-12-30 22:54:31'),
 Timestamp('2016-12-30 22:53:24'),
 Timestamp('2016-12-30 22:53:22'),
 Timestamp('2016-12-30 22:52:50'),
 Timestamp('2016-12-30 22:52:36'),
 Timestamp('2016-12-30 22:52:02'),
 Timestamp('2016-12-30 22:51:50'),
 Timestamp('2016-12-30 22:51:49'),
 Timestamp('2016-12-30 22:50:48'),
 Timestamp('2016-12-30 22:49:22'),
 Timestamp('2016-12-30 22:49:02'),
 Timestamp('2016-12-30 22:48:08'),
 Timestamp('2016-12-30 22:47:26'),
 Timestamp('2016-12-30 22:46:41'),
 Timestamp('2016-12-30 22:46:34'),
 Timestamp('2016-12-30 22:46:29'),
 Timestamp('2016-12-30 22:46:26'),
 Timestamp('2016-12-30 22:46:22'),
 Timestamp('2016-12-30 22:43:26'),
 Timestamp('2016-12-30 22:43:25'),
 Timestamp('2016-12-30 22:43:18'),
 Timestamp('2016-12-30 22:43:07'),
 Timestamp('2016-12-30 22:42:37'),
 Timestamp('2016-12-30 22:41:53'),
 Timestamp('2016-12-30 22:41:41'),
 Timestamp('2016-12-30 22:39:51'),
 Timestamp('2016-12-30 22:39:39'),
 Timestamp('2016-12-30 22:39:13'),
 Timestamp('2016-12-30 22:38:49'),
 Timestamp('2016-12-30 22:38:24'),
 Timestamp('2016-12-30 22:38:21'),
 Timestamp('2016-12-30 22:38:18'),
 Timestamp('2016-12-30 22:37:22'),
 Timestamp('2016-12-30 22:37:07'),
 Timestamp('2016-12-30 22:37:05'),
 Timestamp('2016-12-30 22:36:56'),
 Timestamp('2016-12-30 22:36:46'),
 Timestamp('2016-12-30 22:36:08'),
 Timestamp('2016-12-30 22:35:47'),
 Timestamp('2016-12-30 22:34:45'),
 Timestamp('2016-12-30 22:34:41'),
 Timestamp('2016-12-30 22:34:09'),
 Timestamp('2016-12-30 22:33:21'),
 Timestamp('2016-12-30 22:33:16'),
 Timestamp('2016-12-30 22:32:07'),
 Timestamp('2016-12-30 22:31:53'),
 Timestamp('2016-12-30 22:31:41'),
 Timestamp('2016-12-30 22:30:56'),
 Timestamp('2016-12-30 22:30:31'),
 Timestamp('2016-12-30 22:30:08'),
 Timestamp('2016-12-30 22:29:42'),
 Timestamp('2016-12-30 22:28:35'),
 Timestamp('2016-12-30 22:28:26'),
 Timestamp('2016-12-30 22:27:53'),
 Timestamp('2016-12-30 22:26:39'),
 Timestamp('2016-12-30 22:26:12'),
 Timestamp('2016-12-30 22:25:27'),
 Timestamp('2016-12-30 22:24:58'),
 Timestamp('2016-12-30 22:23:13'),
 Timestamp('2016-12-30 22:21:40'),
 Timestamp('2016-12-30 22:21:18'),
 Timestamp('2016-12-30 22:21:10'),
 Timestamp('2016-12-30 22:21:09'),
 Timestamp('2016-12-30 22:20:36'),
 Timestamp('2016-12-30 22:20:14'),
 Timestamp('2016-12-30 22:19:58'),
 Timestamp('2016-12-30 22:18:20'),
 Timestamp('2016-12-30 22:18:06'),
 Timestamp('2016-12-30 22:16:17'),
 Timestamp('2016-12-30 22:15:57'),
 Timestamp('2016-12-30 22:15:39'),
 Timestamp('2016-12-30 22:15:01'),
 Timestamp('2016-12-30 22:14:43'),
 Timestamp('2016-12-30 22:12:44'),
 Timestamp('2016-12-30 22:11:26'),
 Timestamp('2016-12-30 22:11:09'),
 Timestamp('2016-12-30 22:10:14'),
 Timestamp('2016-12-30 22:09:47'),
 Timestamp('2016-12-30 22:09:25'),
 Timestamp('2016-12-30 22:09:24'),
 Timestamp('2016-12-30 22:09:13'),
 Timestamp('2016-12-30 22:07:41'),
 Timestamp('2016-12-30 22:07:27'),
 Timestamp('2016-12-30 22:07:21'),
 Timestamp('2016-12-30 22:05:41'),
 Timestamp('2016-12-30 22:04:51'),
 Timestamp('2016-12-30 22:04:31'),
 Timestamp('2016-12-30 22:04:10'),
 Timestamp('2016-12-30 22:02:11'),
 Timestamp('2016-12-30 22:02:04'),
 Timestamp('2016-12-30 22:01:29'),
 Timestamp('2016-12-30 22:01:25'),
 Timestamp('2016-12-30 22:00:17'),
 Timestamp('2016-12-30 21:59:55'),
 Timestamp('2016-12-30 21:58:28'),
 Timestamp('2016-12-30 21:57:22'),
 Timestamp('2016-12-30 21:57:08'),
 Timestamp('2016-12-30 21:55:49'),
 Timestamp('2016-12-30 21:55:10'),
 Timestamp('2016-12-30 21:55:08'),
 Timestamp('2016-12-30 21:55:01'),
 Timestamp('2016-12-30 21:54:48'),
 Timestamp('2016-12-30 21:54:22'),
 Timestamp('2016-12-30 21:54:21'),
 Timestamp('2016-12-30 21:53:35'),
 Timestamp('2016-12-30 21:52:00'),
 Timestamp('2016-12-30 21:50:53'),
 Timestamp('2016-12-30 21:50:34'),
 Timestamp('2016-12-30 21:49:47'),
 Timestamp('2016-12-30 21:49:30'),
 Timestamp('2016-12-30 21:49:22'),
 Timestamp('2016-12-30 21:47:41'),
 Timestamp('2016-12-30 21:47:20'),
 Timestamp('2016-12-30 21:46:38'),
 Timestamp('2016-12-30 21:46:12'),
 Timestamp('2016-12-30 21:45:38'),
 Timestamp('2016-12-30 21:44:44'),
 Timestamp('2016-12-30 21:44:26'),
 Timestamp('2016-12-30 21:44:21'),
 Timestamp('2016-12-30 21:43:50'),
 Timestamp('2016-12-30 21:43:30'),
 Timestamp('2016-12-30 21:43:15'),
 Timestamp('2016-12-30 21:42:13'),
 Timestamp('2016-12-30 21:41:52'),
 Timestamp('2016-12-30 21:41:49'),
 Timestamp('2016-12-30 21:41:21'),
 Timestamp('2016-12-30 21:41:09'),
 Timestamp('2016-12-30 21:39:59'),
 Timestamp('2016-12-30 21:39:59'),
 Timestamp('2016-12-30 21:39:12'),
 Timestamp('2016-12-30 21:38:32'),
 Timestamp('2016-12-30 21:38:10'),
 Timestamp('2016-12-30 21:37:33'),
 Timestamp('2016-12-30 21:37:27'),
 Timestamp('2016-12-30 21:36:51'),
 Timestamp('2016-12-30 21:35:22'),
 Timestamp('2016-12-30 21:35:20'),
 Timestamp('2016-12-30 21:33:34'),
 Timestamp('2016-12-30 21:33:27'),
 Timestamp('2016-12-30 21:33:07'),
 Timestamp('2016-12-30 21:32:41'),
 Timestamp('2016-12-30 21:32:22'),
 Timestamp('2016-12-30 21:31:23'),
 Timestamp('2016-12-30 21:28:24'),
 Timestamp('2016-12-30 21:26:43'),
 Timestamp('2016-12-30 21:25:20'),
 Timestamp('2016-12-30 21:23:31'),
 Timestamp('2016-12-30 21:20:40'),
 Timestamp('2016-12-30 21:19:26'),
 Timestamp('2016-12-30 21:17:54'),
 Timestamp('2016-12-30 21:17:37'),
 Timestamp('2016-12-30 21:16:23'),
 Timestamp('2016-12-30 21:15:39'),
 Timestamp('2016-12-30 21:15:39'),
 Timestamp('2016-12-30 21:14:24'),
 Timestamp('2016-12-30 21:14:12'),
 Timestamp('2016-12-30 21:14:08'),
 Timestamp('2016-12-30 21:13:55'),
 Timestamp('2016-12-30 21:13:09'),
 Timestamp('2016-12-30 21:13:05'),
 Timestamp('2016-12-30 21:13:02'),
 Timestamp('2016-12-30 21:12:00'),
 Timestamp('2016-12-30 21:11:29'),
 Timestamp('2016-12-30 21:10:54'),
 Timestamp('2016-12-30 21:09:44'),
 Timestamp('2016-12-30 21:07:05'),
 Timestamp('2016-12-30 21:06:30'),
 Timestamp('2016-12-30 21:05:29'),
 Timestamp('2016-12-30 21:05:07'),
 Timestamp('2016-12-30 21:04:56'),
 Timestamp('2016-12-30 21:04:10'),
 Timestamp('2016-12-30 21:03:49'),
 Timestamp('2016-12-30 21:03:44'),
 Timestamp('2016-12-30 21:03:26'),
 Timestamp('2016-12-30 21:01:33'),
 Timestamp('2016-12-30 21:01:24'),
 Timestamp('2016-12-30 21:01:10'),
 Timestamp('2016-12-30 21:01:05'),
 Timestamp('2016-12-30 21:00:28'),
 Timestamp('2016-12-30 21:00:02'),
 Timestamp('2016-12-30 20:57:28'),
 Timestamp('2016-12-30 20:57:25'),
 Timestamp('2016-12-30 20:57:19'),
 Timestamp('2016-12-30 20:56:47'),
 Timestamp('2016-12-30 20:56:34'),
 Timestamp('2016-12-30 20:55:58'),
 Timestamp('2016-12-30 20:55:43'),
 Timestamp('2016-12-30 20:55:41'),
 Timestamp('2016-12-30 20:55:24'),
 Timestamp('2016-12-30 20:55:22'),
 Timestamp('2016-12-30 20:55:16'),
 Timestamp('2016-12-30 20:54:54'),
 Timestamp('2016-12-30 20:53:10'),
 Timestamp('2016-12-30 20:50:42'),
 Timestamp('2016-12-30 20:48:36'),
 Timestamp('2016-12-30 20:47:19'),
 Timestamp('2016-12-30 20:43:58'),
 Timestamp('2016-12-30 20:43:22'),
 Timestamp('2016-12-30 20:42:41'),
 Timestamp('2016-12-30 20:42:18'),
 Timestamp('2016-12-30 20:42:16'),
 Timestamp('2016-12-30 20:42:15'),
 Timestamp('2016-12-30 20:42:04'),
 Timestamp('2016-12-30 20:41:52'),
 Timestamp('2016-12-30 20:41:23'),
 Timestamp('2016-12-30 20:41:10'),
 Timestamp('2016-12-30 20:41:06'),
 Timestamp('2016-12-30 20:40:45'),
 Timestamp('2016-12-30 20:39:43'),
 Timestamp('2016-12-30 20:39:28'),
 Timestamp('2016-12-30 20:37:55'),
 Timestamp('2016-12-30 20:36:37'),
 Timestamp('2016-12-30 20:35:15'),
 Timestamp('2016-12-30 20:34:41'),
 Timestamp('2016-12-30 20:34:31'),
 Timestamp('2016-12-30 20:33:31'),
 Timestamp('2016-12-30 20:33:14'),
 Timestamp('2016-12-30 20:30:08'),
 Timestamp('2016-12-30 20:28:38'),
 Timestamp('2016-12-30 20:28:35'),
 Timestamp('2016-12-30 20:25:34'),
 Timestamp('2016-12-30 20:25:03'),
 Timestamp('2016-12-30 20:23:50'),
 Timestamp('2016-12-30 20:23:40'),
 Timestamp('2016-12-30 20:22:26'),
 Timestamp('2016-12-30 20:21:22'),
 Timestamp('2016-12-30 20:21:00'),
 Timestamp('2016-12-30 20:20:44'),
 Timestamp('2016-12-30 20:19:48'),
 Timestamp('2016-12-30 20:19:19'),
 Timestamp('2016-12-30 20:18:03'),
 Timestamp('2016-12-30 20:17:17'),
 Timestamp('2016-12-30 20:16:44'),
 Timestamp('2016-12-30 20:16:43'),
 Timestamp('2016-12-30 20:15:30'),
 Timestamp('2016-12-30 20:15:29'),
 Timestamp('2016-12-30 20:14:54'),
 Timestamp('2016-12-30 20:14:27'),
 Timestamp('2016-12-30 20:14:22'),
 Timestamp('2016-12-30 20:13:40'),
 Timestamp('2016-12-30 20:13:12'),
 Timestamp('2016-12-30 20:13:04'),
 Timestamp('2016-12-30 20:12:32'),
 Timestamp('2016-12-30 20:12:27'),
 Timestamp('2016-12-30 20:12:27'),
 Timestamp('2016-12-30 20:11:56'),
 Timestamp('2016-12-30 20:11:42'),
 Timestamp('2016-12-30 20:11:20'),
 Timestamp('2016-12-30 20:10:58'),
 Timestamp('2016-12-30 20:10:31'),
 Timestamp('2016-12-30 20:10:29'),
 Timestamp('2016-12-30 20:10:14'),
 Timestamp('2016-12-30 20:09:42'),
 Timestamp('2016-12-30 20:08:29'),
 Timestamp('2016-12-30 20:08:28'),
 Timestamp('2016-12-30 20:08:08'),
 Timestamp('2016-12-30 20:07:32'),
 Timestamp('2016-12-30 20:06:59'),
 Timestamp('2016-12-30 20:06:40'),
 Timestamp('2016-12-30 20:06:17'),
 Timestamp('2016-12-30 20:06:01'),
 Timestamp('2016-12-30 20:03:20'),
 Timestamp('2016-12-30 20:03:19'),
 Timestamp('2016-12-30 20:03:19'),
 Timestamp('2016-12-30 20:01:38'),
 Timestamp('2016-12-30 20:00:47'),
 Timestamp('2016-12-30 20:00:40'),
 Timestamp('2016-12-30 20:00:38'),
 Timestamp('2016-12-30 20:00:35'),
 Timestamp('2016-12-30 19:59:13'),
 Timestamp('2016-12-30 19:59:02'),
 Timestamp('2016-12-30 19:58:56'),
 Timestamp('2016-12-30 19:58:51'),
 Timestamp('2016-12-30 19:57:34'),
 Timestamp('2016-12-30 19:56:39'),
 Timestamp('2016-12-30 19:55:25'),
 Timestamp('2016-12-30 19:52:24'),
 Timestamp('2016-12-30 19:50:29'),
 Timestamp('2016-12-30 19:50:06'),
 Timestamp('2016-12-30 19:49:59'),
 Timestamp('2016-12-30 19:49:23'),
 Timestamp('2016-12-30 19:49:17'),
 Timestamp('2016-12-30 19:48:46'),
 Timestamp('2016-12-30 19:48:21'),
 Timestamp('2016-12-30 19:48:04'),
 Timestamp('2016-12-30 19:47:55'),
 Timestamp('2016-12-30 19:46:57'),
 Timestamp('2016-12-30 19:45:37'),
 Timestamp('2016-12-30 19:45:18'),
 Timestamp('2016-12-30 19:44:40'),
 Timestamp('2016-12-30 19:43:47'),
 Timestamp('2016-12-30 19:42:05'),
 Timestamp('2016-12-30 19:42:05'),
 Timestamp('2016-12-30 19:41:46'),
 Timestamp('2016-12-30 19:41:44'),
 Timestamp('2016-12-30 19:41:17'),
 Timestamp('2016-12-30 19:41:11'),
 Timestamp('2016-12-30 19:40:12'),
 Timestamp('2016-12-30 19:39:40'),
 Timestamp('2016-12-30 19:39:39'),
 Timestamp('2016-12-30 19:39:29'),
 Timestamp('2016-12-30 19:38:49'),
 Timestamp('2016-12-30 19:37:23'),
 Timestamp('2016-12-30 19:36:34'),
 Timestamp('2016-12-30 19:35:47'),
 Timestamp('2016-12-30 19:34:46'),
 Timestamp('2016-12-30 19:34:27'),
 Timestamp('2016-12-30 19:33:45'),
 Timestamp('2016-12-30 19:33:06'),
 Timestamp('2016-12-30 19:32:19'),
 Timestamp('2016-12-30 19:31:00'),
 Timestamp('2016-12-30 19:30:33'),
 Timestamp('2016-12-30 19:29:25'),
 Timestamp('2016-12-30 19:28:57'),
 Timestamp('2016-12-30 19:28:52'),
 Timestamp('2016-12-30 19:28:10'),
 Timestamp('2016-12-30 19:27:11'),
 Timestamp('2016-12-30 19:26:56'),
 Timestamp('2016-12-30 19:25:52'),
 Timestamp('2016-12-30 19:25:34'),
 Timestamp('2016-12-30 19:25:17'),
 Timestamp('2016-12-30 19:25:05'),
 Timestamp('2016-12-30 19:24:49'),
 Timestamp('2016-12-30 19:24:43'),
 Timestamp('2016-12-30 19:23:28'),
 Timestamp('2016-12-30 19:23:26'),
 Timestamp('2016-12-30 19:21:59'),
 Timestamp('2016-12-30 19:21:15'),
 Timestamp('2016-12-30 19:20:37'),
 Timestamp('2016-12-30 19:20:12'),
 Timestamp('2016-12-30 19:19:51'),
 Timestamp('2016-12-30 19:19:28'),
 Timestamp('2016-12-30 19:19:23'),
 Timestamp('2016-12-30 19:19:19'),
 Timestamp('2016-12-30 19:19:12'),
 Timestamp('2016-12-30 19:18:57'),
 Timestamp('2016-12-30 19:18:31'),
 Timestamp('2016-12-30 19:17:26'),
 Timestamp('2016-12-30 19:17:09'),
 Timestamp('2016-12-30 19:17:06'),
 Timestamp('2016-12-30 19:16:03'),
 Timestamp('2016-12-30 19:15:39'),
 Timestamp('2016-12-30 19:14:40'),
 Timestamp('2016-12-30 19:11:47'),
 Timestamp('2016-12-30 19:11:25'),
 Timestamp('2016-12-30 19:10:23'),
 Timestamp('2016-12-30 19:09:29'),
 Timestamp('2016-12-30 19:09:17'),
 Timestamp('2016-12-30 19:09:15'),
 Timestamp('2016-12-30 19:08:51'),
 Timestamp('2016-12-30 19:08:26'),
 Timestamp('2016-12-30 19:07:59'),
 Timestamp('2016-12-30 19:07:33'),
 Timestamp('2016-12-30 19:06:06'),
 Timestamp('2016-12-30 19:05:03'),
 Timestamp('2016-12-30 19:04:58'),
 Timestamp('2016-12-30 19:03:46'),
 Timestamp('2016-12-30 19:03:09'),
 Timestamp('2016-12-30 19:03:03'),
 Timestamp('2016-12-30 19:02:15'),
 Timestamp('2016-12-30 19:01:47'),
 Timestamp('2016-12-30 19:01:32'),
 Timestamp('2016-12-30 19:00:09'),
 Timestamp('2016-12-30 18:59:12'),
 Timestamp('2016-12-30 18:58:58'),
 Timestamp('2016-12-30 18:58:51'),
 Timestamp('2016-12-30 18:57:38'),
 Timestamp('2016-12-30 18:56:09'),
 Timestamp('2016-12-30 18:55:54'),
 Timestamp('2016-12-30 18:55:46'),
 Timestamp('2016-12-30 18:53:48'),
 Timestamp('2016-12-30 18:53:46'),
 Timestamp('2016-12-30 18:53:32'),
 Timestamp('2016-12-30 18:53:07'),
 Timestamp('2016-12-30 18:51:08'),
 Timestamp('2016-12-30 18:50:11'),
 Timestamp('2016-12-30 18:49:50'),
 Timestamp('2016-12-30 18:49:40'),
 Timestamp('2016-12-30 18:48:07'),
 Timestamp('2016-12-30 18:47:48'),
 Timestamp('2016-12-30 18:45:53'),
 Timestamp('2016-12-30 18:45:20'),
 Timestamp('2016-12-30 18:44:58'),
 Timestamp('2016-12-30 18:43:32'),
 Timestamp('2016-12-30 18:42:28'),
 Timestamp('2016-12-30 18:39:33'),
 Timestamp('2016-12-30 18:38:27'),
 Timestamp('2016-12-30 18:36:44'),
 Timestamp('2016-12-30 18:36:24'),
 Timestamp('2016-12-30 18:35:57'),
 Timestamp('2016-12-30 18:34:49'),
 Timestamp('2016-12-30 18:34:11'),
 Timestamp('2016-12-30 18:33:25'),
 Timestamp('2016-12-30 18:32:38'),
 Timestamp('2016-12-30 18:32:32'),
 Timestamp('2016-12-30 18:32:15'),
 Timestamp('2016-12-30 18:32:00'),
 Timestamp('2016-12-30 18:31:48'),
 Timestamp('2016-12-30 18:31:44'),
 Timestamp('2016-12-30 18:31:27'),
 Timestamp('2016-12-30 18:30:24'),
 Timestamp('2016-12-30 18:30:04'),
 Timestamp('2016-12-30 18:30:01'),
 Timestamp('2016-12-30 18:29:55'),
 Timestamp('2016-12-30 18:29:16'),
 Timestamp('2016-12-30 18:29:13'),
 Timestamp('2016-12-30 18:28:43'),
 Timestamp('2016-12-30 18:28:23'),
 Timestamp('2016-12-30 18:26:59'),
 Timestamp('2016-12-30 18:26:45'),
 Timestamp('2016-12-30 18:26:16'),
 Timestamp('2016-12-30 18:26:08'),
 Timestamp('2016-12-30 18:25:28'),
 Timestamp('2016-12-30 18:24:43'),
 Timestamp('2016-12-30 18:22:38'),
 Timestamp('2016-12-30 18:22:16'),
 Timestamp('2016-12-30 18:22:16'),
 Timestamp('2016-12-30 18:22:15'),
 Timestamp('2016-12-30 18:21:50'),
 Timestamp('2016-12-30 18:21:03'),
 Timestamp('2016-12-30 18:20:39'),
 Timestamp('2016-12-30 18:20:20'),
 Timestamp('2016-12-30 18:19:59'),
 Timestamp('2016-12-30 18:19:47'),
 Timestamp('2016-12-30 18:19:36'),
 Timestamp('2016-12-30 18:19:06'),
 Timestamp('2016-12-30 18:18:13'),
 Timestamp('2016-12-30 18:17:46'),
 Timestamp('2016-12-30 18:15:30'),
 Timestamp('2016-12-30 18:15:26'),
 Timestamp('2016-12-30 18:15:07'),
 Timestamp('2016-12-30 18:14:32'),
 Timestamp('2016-12-30 18:14:18'),
 Timestamp('2016-12-30 18:13:56'),
 Timestamp('2016-12-30 18:13:44'),
 Timestamp('2016-12-30 18:13:18'),
 Timestamp('2016-12-30 18:13:11'),
 Timestamp('2016-12-30 18:12:59'),
 Timestamp('2016-12-30 18:12:54'),
 Timestamp('2016-12-30 18:12:15'),
 Timestamp('2016-12-30 18:11:34'),
 Timestamp('2016-12-30 18:10:47'),
 Timestamp('2016-12-30 18:10:47'),
 Timestamp('2016-12-30 18:09:12'),
 Timestamp('2016-12-30 18:08:38'),
 Timestamp('2016-12-30 18:07:43'),
 Timestamp('2016-12-30 18:06:29'),
 Timestamp('2016-12-30 18:05:27'),
 Timestamp('2016-12-30 18:04:58'),
 Timestamp('2016-12-30 18:03:44'),
 Timestamp('2016-12-30 18:03:23'),
 Timestamp('2016-12-30 18:01:45'),
 Timestamp('2016-12-30 18:01:32'),
 Timestamp('2016-12-30 18:00:56'),
 Timestamp('2016-12-30 18:00:06'),
 Timestamp('2016-12-30 17:59:41'),
 Timestamp('2016-12-30 17:59:17'),
 Timestamp('2016-12-30 17:58:45'),
 Timestamp('2016-12-30 17:58:32'),
 Timestamp('2016-12-30 17:58:14'),
 Timestamp('2016-12-30 17:58:11'),
 Timestamp('2016-12-30 17:57:36'),
 Timestamp('2016-12-30 17:57:01'),

df["transactionDateTime"] column consist data of year 2016 for all 12 months, there is transaction data of every minute

### 1.5 transactionAmount

In [45]:
df['transactionAmount'].value_counts()

transactionAmount
0.00      22225
8.21        132
49.30       125
8.81        124
4.39        120
          ...
534.26        1
475.93        1
732.02        1
518.19        1
624.07        1
Name: count, Length: 66038, dtype: int64

In [46]:
df['transactionAmount'].isna().sum()

0

In [47]:
df[df['transactionAmount'] == 0]        # check if there was no amount cut during a transaction, needs further investigation

,accountNumber,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,...,echoBuffer,currentBalance,merchantCity,merchantState,merchantZip,cardPresent,posOnPremises,recurringAuthInd,expirationDateKeyInMatch,isFraud
17,574788567,574788567,2500,2428.67,2016-01-26 14:04:22,0.0,Convenient Auto Services,US,US,9.0,...,NaN,71.33,NaN,NaN,NaN,False,NaN,NaN,False,False
60,574788567,574788567,2500,2500.00,2016-09-02 07:57:44,0.0,Washington Tire,US,US,9.0,...,NaN,0.00,NaN,NaN,NaN,False,NaN,NaN,False,False
78,574788567,574788567,2500,2208.54,2016-10-29 11:01:00,0.0,Fast Tire,US,US,9.0,...,NaN,291.46,NaN,NaN,NaN,False,NaN,NaN,False,False
102,924729945,924729945,50000,50000.00,2016-10-23 14:00:41,0.0,apple.com,US,US,9.0,...,NaN,0.00,NaN,NaN,NaN,False,NaN,NaN,False,False
116,984504651,984504651,50000,48562.35,2016-01-08 19:40:01,0.0,Walgreens #417535,US,US,5.0,...,NaN,1437.65,NaN,NaN,NaN,False,NaN,NaN,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786035,205026043,205026043,5000,3751.09,2016-11-27 18:09:39,0.0,Krispy Kreme #375200,US,US,80.0,...,NaN,1248.91,NaN,NaN,NaN,False,NaN,NaN,False,False
786091,899818521,899818521,2500,438.12,2016-04-25 03:35:20,0.0,AMC #145832,US,US,5.0,...,NaN,2061.88,NaN,NaN,NaN,False,NaN,NaN,False,False
786172,638498773,638498773,10000,919.67,2016-07-06 04:07:54,0.0,Dunkin' Donuts #589280,US,US,2.0,...,NaN,9080.33,NaN,NaN,NaN,False,NaN,NaN,False,False
786265,732852505,732852505,50000,49688.67,2016-02-16 23:02:52,0.0,Lyft,US,US,5.0,...,NaN,311.33,NaN,NaN,NaN,False,NaN,NaN,False,False
786270,732852505,732852505,50000,48811.18,2016-02-26 19:30:27,0.0,Lyft,US,US,5.0,...,NaN,1188.82,NaN,NaN,NaN,False,NaN,NaN,False,False

In [48]:
df['merchantName'].sample(30) # this columns need data cleaning there is { .com } and after # there is some number which needs invistigation

312396                 AMC #724446
372824              Wendys #828220
8748                   KFC #806300
20667             Hardee's #867273
117814           Pizza Hut #213060
690727      Downtown Sandwitch Bar
446981           Taco Bell #376012
603098              Subway #817052
650128       Fresh Online Services
501020      Dunkin' Donuts #995067
447323    South Steakhouse #481929
757546           Shell Gas #988905
297078         Best Bistro #262998
386081                  AMC #79863
742803                     abc.com
151679          Franks Pub #680641
643840               cheapfast.com
328354      West End Beauty #02340
593027              Subway #919336
452980                 AMC #724446
269228    Next Day Online Services
402942         Boston Cafe #105215
649992        Blue Mountain eCards
288077    South Steakhouse #879581
258215               Fresh Flowers
302419                Boston Diner
356745                 Franks Deli
277093                 AMC #724446
145487                 Wayfair.com
59127                    sears.com
Name: merchantName, dtype: object

### 1.6 acqCountry & merchantCountryCode

In [49]:
df["acqCountry"].value_counts()

acqCountry
US     774709
MEX      3130
CAN      2424
PR       1538
Name: count, dtype: int64

In [50]:
df["acqCountry"].unique()

array(['US', nan, 'CAN', 'MEX', 'PR'], dtype=object)

In [51]:
df['merchantCountryCode'].value_counts()

merchantCountryCode
US     778511
MEX      3143
CAN      2426
PR       1559
Name: count, dtype: int64

In [52]:
df['merchantCountryCode'].unique()

array(['US', 'CAN', nan, 'PR', 'MEX'], dtype=object)

In [53]:
df[df['merchantCountryCode'] != df['acqCountry']]

,accountNumber,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,...,echoBuffer,currentBalance,merchantCity,merchantState,merchantZip,cardPresent,posOnPremises,recurringAuthInd,expirationDateKeyInMatch,isFraud
8,830329091,830329091,5000,4990.63,2016-06-10 01:21:46,523.67,Burger King #486122,NaN,US,2.0,...,NaN,9.37,NaN,NaN,NaN,True,NaN,NaN,False,False
470,984504651,984504651,50000,12077.98,2016-06-06 06:42:23,12.41,NYSC #331326,NaN,US,5.0,...,NaN,37922.02,NaN,NaN,NaN,False,NaN,NaN,False,False
490,984504651,984504651,50000,8510.42,2016-06-13 08:54:40,12.28,Golds Gym #752210,NaN,NaN,2.0,...,NaN,41489.58,NaN,NaN,NaN,False,NaN,NaN,False,False
523,984504651,984504651,50000,3680.02,2016-06-29 02:02:53,94.52,WSC #257352,US,PR,2.0,...,NaN,46319.98,NaN,NaN,NaN,False,NaN,NaN,False,False
832,984504651,984504651,50000,34747.32,2016-11-09 21:27:45,46.10,Planet Fitness #221810,NaN,US,2.0,...,NaN,15252.68,NaN,NaN,NaN,False,NaN,NaN,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785745,207667444,207667444,7500,1027.23,2016-09-09 08:28:13,169.24,discount.com,NaN,US,5.0,...,NaN,6472.77,NaN,NaN,NaN,False,NaN,NaN,False,False
785771,207667444,207667444,7500,5224.61,2016-11-15 02:22:30,47.21,Popeyes #220449,NaN,US,5.0,...,NaN,2275.39,NaN,NaN,NaN,True,NaN,NaN,False,False
785858,428856030,428856030,250,151.10,2016-06-01 19:49:51,169.09,Rodeway Inn #105130,NaN,US,9.0,...,NaN,98.90,NaN,NaN,NaN,True,NaN,NaN,False,False
786140,638498773,638498773,10000,5069.06,2016-04-07 16:04:55,82.59,KFC #237284,NaN,US,9.0,...,NaN,4930.94,NaN,NaN,NaN,True,NaN,NaN,False,False
786147,638498773,638498773,10000,4416.46,2016-04-24 06:39:06,65.05,Five Guys #953952,NaN,US,9.0,...,NaN,5583.54,NaN,NaN,NaN,True,NaN,NaN,False,False

Both column consist nan  values so we need to figure out how to impute it

### 1.7 posEntryMode

In [54]:
df['posEntryMode'].unique()  # there is nan values

array([ 2.,  9.,  5., 80., 90., nan])

In [55]:
df['posEntryMode'].value_counts()

posEntryMode
5.0     315035
9.0     236481
2.0     195934
90.0     19576
80.0     15283
Name: count, dtype: int64

### 1.8 posConditionCode

In [56]:
df['posConditionCode'].value_counts()

posConditionCode
1.0     628787
8.0     149634
99.0      7533
Name: count, dtype: int64

In [57]:
df['posConditionCode'].unique()  ## nan value

array([ 1.,  8., 99., nan])

### 1.9 merchantCategoryCode

In [58]:
df['merchantCategoryCode'].value_counts()

merchantCategoryCode
online_retail           202156
fastfood                112138
entertainment            80098
food                     75490
online_gifts             66238
rideshare                51136
hotels                   34097
fuel                     23910
subscriptions            22901
auto                     21651
health                   19092
personal care            18964
airline                  15412
mobileapps               14990
online_subscriptions     11067
furniture                 7432
food_delivery             6000
gym                       2209
cable/phone               1382
Name: count, dtype: int64

In [59]:
df['merchantCategoryCode'].unique()

array(['rideshare', 'entertainment', 'mobileapps', 'fastfood',
       'food_delivery', 'auto', 'online_retail', 'gym', 'health',
       'personal care', 'food', 'fuel', 'online_subscriptions',
       'online_gifts', 'hotels', 'airline', 'furniture', 'subscriptions',
       'cable/phone'], dtype=object)

### 1.10 currentExpDate

In [60]:
df['currentExpDate'].isna().sum()

0

In [61]:
type(df['currentExpDate'][0])

str

In [62]:
# pd.to_datetime(df['currentExpDate'])

In [63]:
# pd.to_datetime(df['currentExpDate']).dt.year

In [64]:
# pd.to_datetime(df['currentExpDate']).dt.month

### 1.11 accountOpenDate

In [65]:
df['accountOpenDate'].isna().sum()

0

In [66]:
df['accountOpenDate'] = pd.to_datetime(df['accountOpenDate'])

In [67]:
df['accountOpenDate']

0        2015-03-14
1        2015-03-14
2        2015-03-14
3        2015-03-14
4        2015-08-06
            ...
786358   2012-08-23
786359   2012-08-23
786360   2012-08-23
786361   2012-08-23
786362   2012-08-23
Name: accountOpenDate, Length: 786363, dtype: datetime64[ns]

### 1.12 dateOfLastAddressChange

In [68]:
df['dateOfLastAddressChange'] =pd.to_datetime(df['dateOfLastAddressChange'])

In [69]:
df[df['dateOfLastAddressChange']  != df['accountOpenDate']]    # df['dateOfLastAddressChange'] & df['accountOpenDate'] some rows are similar but not all

,accountNumber,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,...,echoBuffer,currentBalance,merchantCity,merchantState,merchantZip,cardPresent,posOnPremises,recurringAuthInd,expirationDateKeyInMatch,isFraud
301,984504651,984504651,50000,20550.26,2016-03-27 01:00:34,208.83,Lyft,US,US,9.0,...,NaN,29449.74,NaN,NaN,NaN,False,NaN,NaN,False,False
302,984504651,984504651,50000,20341.43,2016-03-27 04:06:34,151.81,AMC #706324,US,US,5.0,...,NaN,29658.57,NaN,NaN,NaN,True,NaN,NaN,False,False
303,984504651,984504651,50000,20189.62,2016-03-27 06:32:17,159.74,Powerlifting #418462,US,US,5.0,...,NaN,29810.38,NaN,NaN,NaN,True,NaN,NaN,False,False
304,984504651,984504651,50000,20029.88,2016-03-27 10:18:13,242.39,Universe Massage #70014,US,US,9.0,...,NaN,29970.12,NaN,NaN,NaN,True,NaN,NaN,False,False
305,984504651,984504651,50000,19787.49,2016-03-27 18:15:43,162.69,Uber,US,US,9.0,...,NaN,30212.51,NaN,NaN,NaN,False,NaN,NaN,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785771,207667444,207667444,7500,5224.61,2016-11-15 02:22:30,47.21,Popeyes #220449,NaN,US,5.0,...,NaN,2275.39,NaN,NaN,NaN,True,NaN,NaN,False,False
785772,207667444,207667444,7500,5177.40,2016-11-21 05:55:03,86.54,Wendys #719602,US,US,9.0,...,NaN,2322.60,NaN,NaN,NaN,True,NaN,NaN,False,False
785773,207667444,207667444,7500,5090.86,2016-11-27 08:50:53,39.46,target.com,US,US,9.0,...,NaN,2409.14,NaN,NaN,NaN,False,NaN,NaN,False,False
785774,207667444,207667444,7500,5051.40,2016-11-29 17:27:07,82.82,Shake Shack #195162,US,US,80.0,...,NaN,2448.60,NaN,NaN,NaN,True,NaN,NaN,False,False
785775,207667444,207667444,7500,4993.58,2016-12-13 03:14:09,59.09,Best Deli #316476,US,US,2.0,...,NaN,2506.42,NaN,NaN,NaN,True,NaN,NaN,False,False

In [70]:
emptyColumns = ['merchantCity', 'merchantState', 'merchantZip', 'posOnPremises', 'recurringAuthInd']